<footer>
    <h5>des questions appeler 0805-245-6541</h5>
    <div class="colums">
        <div class="colum">
            <p>Faq</p>
            <p>Relation investisseur</p>
            <p>mode de lecture</p>
            <p>mentions légals</p>
            <p>Programme origineaux</p>
        </div>
        <div class="colum">
            <p>centre d'aide</p>
            <p>Relation investisseur</p>
            <p>mode de lecture</p>
            <p>mentions légals</p>
            <p>Programme origineaux</p>
        </div>
        <div class="colum">
            <p>centre d'aide</p>
            <p>Relation investisseur</p>
            <p>mode de lecture</p>
            <p>mentions légals</p>
            <p>Programme origineaux</p>
        </div>
        <div class="colum">
            <p>centre d'aide</p>
            <p>Relation investisseur</p>
            <p>mode de lecture</p>
            <p>mentions légals</p>
            <p>Programme origineaux</p>
        </div>
    </div>
    <p>Netflix france</p>
</footer>

</body>
</html>